<%- include('../components/head.ejs')%>
    <header style="min-height: 8vh;">
        <%- include('../components/navbar.ejs') %>
    </header>
    <div class="container-fluid d-flex flex-column mx-auto" style="min-height: 73vh; background-color: #d7dbde;">
        <div class="row  justify-content-center">
            <div class="col-8 d-flex flex-row flex-nowrap gap-2 justify-content-center">
                <p class="text-center txt mt-5">
                    Innovate your world!
                </p>
            </div>
        </div>
        <div class="row  justify-content-center">
            <div class="col-10 d-flex flex-row flex-nowrap gap-2 justify-content-center">
                <h4 class="text-center txt">
                    Get the latest Apple Product
                </h4>
            </div>
        </div>

        <div class="row  justify-content-center">
            <div class="col-12 d-flex flex-row flex-nowrap gap-2 justify-content-center">
                <img src="../images/apple.webp.svg" alt="" class="img-fluid img-thumbnail">
            </div>
        </div>

        <div class="row  justify-content-center">
            <div class="col-12 d-flex flex-row flex-nowrap gap-2 justify-content-center">
                <p class="text-center txt">
                    Our website is currently under construction, kindly browse our catalogue on the facebook shop and enquire on whatsapp business.
                </p>
            </div>
        </div>

        <div class="row  justify-content-center">
            <div class="col-12 d-flex flex-row flex-nowrap gap-2 justify-content-center">
                <a href="https://api.whatsapp.com/send?phone=27744813784" class="btn btn-dark mb-3">Enquire</a>
                <a href="https://web.facebook.com/smeechtech/shop/?referral_code=page_shop_tab&preview=1" class="btn btn-dark mb-3">Catalogue</a>
            </div>
        </div>


        <div class="row  justify-content-center">
            <div class="col-12 d-flex flex-row flex-nowrap gap-2 justify-content-center">
                <img src="../images/Apple.webp" alt="" class="img-fluid img-thumbnail">
            </div>
        </div>
    </div>
    <footer>
        <%- include('../components/footer.ejs') %>
    </footer>
